
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header {
    background-image: url(/home/joy/Desktop/frontend-assignment/assets/backgrounds/hero.jpg);
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}